{%extends "base.html"%}
{%load static%}

{%block content%}
<div class ="blog-div">
    <h1 class="blog-title">{{post.title}}</h1>
    <p class="blog-body">Post: <br> {{post.body | slice:":300"}}...</p>
    <p class="blog-created-on">created-on: {{post.created_on}}</p>
    <p class="blog-last-modified">last-modified: {{post.last_modified}}</p>
    <div class ="blog-category">Categories:
        <br>
        <div class="category-list-div">
            <ul class="list-group">
                {%for c in post.categories.all%}
                    <li class="list-group-item"><a href="{% url 'blog_category' c.name %}" >{{c.name | slice:":20"}}</a></li>
                {%endfor%}

            </ul>
        </div>
    </div>
    <div class ="form-group">
        <form action="/blog/{{post.pk}}/" method="post" >
           {%csrf_token %}
            <fieldset>
                Name: {{form.author}}
            </fieldset>
            <fieldset>
                
                Comment: {{form.body}}
                

            </fieldset>
            <fieldset>
                <div class="submit-button">
                    <input type="submit" value="submit">
                </div>

            </fieldset>
        </form>
    </div>
    <div class ="blog-comments">Comments:
        <br>
        <div class="comment-list-div">
            <ul class="list-group">
                {%for c in comments%}
                    <li class="comment-list-group-item">
                       <h4><p>Author: {{c.author}}</p></h4>
                        <h3><p>comment: {{c.body}}</p></h3>
                        <small><p>created_on: {{c.created_on}}&nbsp;&nbsp;
                            last_modified: {{c.last_modified}}
                        </p></small>


                    </li>
                {%endfor%}

            </ul>
        </div>
    </div>
</div>
{%endblock%}